<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Create new person</title>
</head>
<body>
<form th:method="POST" th:action="@{/people}" th:object="${person}">
    <label for="fullName">Full name:</label>
    <input type="text" th:field="*{fullName}" id="fullName">
    <div style="color: red" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}">Full name Error</div>
    <br>
    <label for="birthYear">Birth year</label>
    <input type="number" th:field="*{birthYear}" id="birthYear">
    <div style="color: red" th:if="${#fields.hasErrors('birthYear')}" th:errors="*{birthYear}">Year Error</div>
    <br>
    <input type="submit" value="Create!">
</form>
</body>
</html>